@import './_reset';
@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,a,button,table{
    font-family: "Noto Sans", sans-serif;
}

body{
    .wrapper{
        max-width: 768px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }
}